<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1><a id="who" target="_blank"></a> Please type in your NEAR ID for login</h1>
  <!--
  <form id="near-auth-form" method="POST" action="/change">
    <label> Input Username: <input name="username" type="text"></label>
    <input type="submit" value="Sign in with NEAR"> 
  </form>
  <h1>Hello World</h1>
    <ul>
        <li>List item 1</li>
        li items with class change will be changed on button click
        <li class='change'>List item 2</li>
        <button class="trigger" href="/change">Trigger Change</button>
    </ul>
  <h1> test header </h1>
  <a href="/change" id ="change-now">change</a>
  -->
  <button id="sign-in" class="signed-out" style="display: none">
    Sign in with NEAR
  </button>
  <button id="say-hi" class="signed-in" style="display: none">
    Successfully signed into NEAR
  </button>
  <footer>
    <p class="signed-in" style="display: none">
      Signed in as <a id="account-id" href="https://wallet.nearprotocol.com/profile" target="_blank"></a>
      • <a href="#signout" id="sign-out">sign out</a>
    </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/nearlib@0.20.0/dist/nearlib.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="./config.js"></script>
  <script src="./main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nearlib/dist/nearlib.min.js"></script>
</body>
</html>